/***** BASE STYLES *****/

body {
  background-color: #629c6c;
  font-family: 'Lato', sans-serif;
}

/****** GRID ******/

.full-width, .container {
  margin: auto;
  overflow: auto;
  width: 1200px;
}

.half-width {
  float: left;
  width: 600px;
}

.third-width {
  float: left;
  width: 400px;
}

.left-column {
  float: left;
  width: 500px;
}

.right-column {
  float: left;
  width: 500px;
}

/***** HEADER *****/

header {
  background: url('../img/wormsloe.jpg');
  background-position: center;
  background-size: cover;
  height: 800px;
}

header h1 {
  color: white;
  font-family: 'Rock Salt', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 30px 0 65px 0;
  text-transform: uppercase;
}

nav {
  float: right;
  padding: 55px 0 50px 0;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  border: 10px solid #629c6c;
  background-color: #629c6c;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header h2{
  background-color: #629c6c;
  clear: both;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  margin: 50px 0 0 75px;
  padding: 10px;
  text-align: center;
  width: 1000px;
}

header h2 span {
  color: #104f16;
}

/***** MY PORTFOLIO *****/

#portfolio .container {
  height: 1350px;
  padding: 50px;
}

#portfolio .left-column {
  padding: 50px;
  width: 500px;
}

#portfolio .right-column {
  padding: 50px;
  width: 500px;
}

#portfolio h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  text-align: center;
  padding-bottom: 50px;
}

#portfolio h3 {
  display: inline;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

#portfolio p {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

#jubilee {
  margin-bottom: 180px;
}

#recipe {
  margin-bottom: 185px;
}

#portfolio img {
  padding-bottom: 50px;
}

/***** ABOUT ME *****/

#about {
  background-color: #436447;
  color: white;
}

#about .container {
  height: 650px;
  padding: 50px;
}

#about .left-column{
  margin-left: 150px;
  width: 500px;
}

#about .right-column {
  width: 500px;
}

#about h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  padding-bottom: 50px;
  text-align: center;
}

#about p {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

/***** CONNECT *****/

#connect {
  background-color: #104f16;
  color: white;
}

#connect .full-width {
  height: 350px;
  padding: 50px;
}

#connect h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  padding-bottom: 50px;
  text-align: center;
}

#connect h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 10px 0 10px;
  text-align: center;
}

#connect p {
  font-size: 20px;
  line-height: 30px;
  padding: 0 10px 10px 10px;
  text-align: center;
}

#connect img {
  float: left;
  margin-left: 10px;
}

#linkedin img {
  margin-left: 163px;
}
